<div class="card-box widget-box-three">
    <div class="media">
        <div class="avatar-lg bg-icon rounded-circle align-self-center">
            <i class="ti-comment-alt font-30 text-muted avatar-title"></i>
        </div>
        <div class="wigdet-two-content media-body text-right">
            <p class="mt-1 text-uppercase font-weight-medium">Comments</p>
            <h2 class="mb-2"><span data-plugin="counterup">6,254</span></h2>
        </div>
    </div>
</div>